/* style */
* {
    box-sizing: border-box;
}



body {
    background-color: rgba(179, 236, 105, 0.25);
}
h1 {
  font-family:serif;
  color: rgb(92, 24, 24);
  text-align: center;
  width: 400px;
  margin: 20px auto;
  

}

h3 {
    color: rgb(54, 39, 68);
    
    
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.recipe-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(3, 63, 28);
    padding: 8px;
    width: 400px;
    text-align: center;
    margin: 4px auto;
    border-radius: 4px;
    list-style-type: none;
}

a {
    font-size: 20px;
    color: aliceblue;
}

.recipe-img {
    width: 500px;
    height: auto;
    margin: 8px auto;
    display: block;
    border-radius: 8px;

}

.recipe-box {
    background-color: rgb(142, 202, 130);
    border-radius: 8px;
    width: 500px;
    margin: 0 auto;
    padding: 8px;
    
}

.recipe-box2 {
    background-color: rgb(160, 202, 151);
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    font-size: 18px;
}



