/* style */
body {
    background-color: rgb(250, 221, 184,25%);
}
h1 {
  font-family:serif;
  color: rgb(92, 24, 24);
  

}

h3 {
    color: rgb(54, 39, 68);
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 20px;
}